<!-- 
   Este Template contiene el código HTML para publicar blogs en la sección de blogs 
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ImaHoshi</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href='{% static "Mediafiles/cat.png" %}' />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href='{% static "css/styles.css" %}' rel="stylesheet" />
            <a href="#!"><img class="card-img-top" src= '{% static "Mediafiles/Comentarios.gif" %}' alt="..." /></a>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">ImaHoshi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'main:index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "main:login" %}'>Login</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "main:register" %}'>Registro</a></li>
                    </ul>
                </div>
            </div>
        </nav>


    <!-- 
        Diseño del formulario del cuadro de publicación de Blog
    -->
    <header class="py-5 bg-light border-bottom mb-4">
    <section>
        <div class="lightBg">
            <div class="container">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-grou col-sm-4" style="width:50%; margin: 0 auto;">
                        <input type="text" name="name" class="form-control bg-ligth" placeholder="Titulo del manga/Anime">
                    </div>
                    <br>
                    <div class="form-grou col-sm-4" style="width:50%; margin: 0 auto;">
                        <input type="text" name="author" class="form-control" placeholder="Autor del Manga">
                    </div>
                    <br>
                    <div class="form-grou col-sm-4" style="width:50%; margin: 0 auto;">
                        <input type="text" name="description" class="form-control" placeholder="Escriba su Descripcion">
                    </div>
                    <br>
                    <div class="form-grou col-sm-4" style="width:50%; margin: 0 auto;">
                        <textarea name="body" class="form-control" placeholder="Escriba su Descripcion"></textarea>
                    </div>
                    <br>
                    <div class="form-grou col-sm-4" style="width:50%; margin: 0 auto;">
                        <input type="file" name="image" class="form-control" placeholder="Añada su cover">
                    </div>
                    <div style="width:50%; margin: 0 auto;">
                        <br>
                        <br>
                        <input type="submit"  class="btn btn-success btn-center btn-xl text-uppercase text-Rose" value="Subir" > 
                        <br>
                        <br>
                    </div>
                </form>

            </div>

        </div>
    </section>
    </header>

   
</body>
</html>

